.MainPanel {
  position: relative;
  width: 2000px;
  height: 2000px;
  text-align: left
}
.Button {
  width: 400px;
  text-align: center
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #ffffff;
  stroke-width: 1;
}